.footer {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    bottom: 0;
    position: fixed;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
}
