
// Styling that allows for GIFs to load in left to right - all new gifs are inserted at the bottom
// Previously display inline block and column count but this lead to images loading down the page and reshuffling when more were added
.gif-list {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(2em, auto);
    margin-left: 12em;
    margin-right: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
}

//Media query to decrease margins on smaller screens
@media screen and (max-width: 1700px) {
    .gif-list {
        margin-left: 2em;
        margin-right: 2em;
    }
}