.logo {
    float: left;
    height: 150px;
    text-align: center;
    width: 150px;
}

// Decreases logo size for smaller screens
@media screen and (max-width: 1700px) {
    .logo {
        height: 125px;
        width: 125px;
    }
}